<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step Indicator Component</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/sandbox/step-indicator.css" />

  </head>

  <body>

    <nav class="step-indicator">
      <h1>Finish your order</h1>
      <progress value="0.25" max="1">25%</progress>
      <ol>
        <li><a href="#">Cart</a></li>
        <li><a href="#" aria-label="Address, current step">Address</a></li>
        <li>Payment</li>
        <li>Confirm </li>
      </ol>
    </nav>


  </body>

</html>
