* {
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

ol.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 18em;
  padding: .5em 1em 2em 1em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
  list-style: none;
}

ol.chat > li > p {
  padding: 1em;
  margin: 1.5em 0 0;
  border-radius: .5em;
  background-color: white;
}

ol.chat footer > p {
  display: inline-block;
  margin: .5em 0 0 1em;
  font-size: .7em;
}

ol.chat > [data-status="READ"] {
  position: relative;
  left: 3.5em;
  color: #2ecc71;
}

ol.chat > [data-status="DELIVERED"] {
  position: relative;
  left: 2em;
  color: #e74c3c;
}

ol.chat > time {
  color: #34495e;
}

form.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 18em;
  padding: 1em;
  margin: 0em auto;
  background-color: #2980b9;
}

form.chat > [name="field-message"] {
  resize: none;
  width: 100%;
  padding: 1em 1em;
}

form.chat > [for="field-message"] {
  margin-bottom: .5em;
  color: white;
  font-size: .8em;
}

form.chat button[type="submit"] {
  width: 100%;
  padding: .5em 0;
  margin-top: 1em;
  background-color: #e74c3c;
  color: white;
  font-size: 1em;
}
