<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Component</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/sandbox/navigation.css" />

  </head>

  <body>

    <nav class="navigation">
    <h1>Main navigation</h1>
    <ul>
      <li><a href="#introduction" aria-label="Home, current page">Home</a></li>
      <li class="dropdown">
        <a href="#">Components</a>
        <ul>
          <li><a href="#chat">Chat</a></li>
          <li><a href="#login">Login</a></li>
          <li><a href="#media-item">Media Item</a></li>
          <li><a href="#media-subtitle">Media Subtitle</a></li>
          <li><a href="#rating">Rating</a></li>
          <li><a href="#step-indicator">Step Indicator</a></li>
        </ul>
        </li>
        <li><a target="_blank" href="https://github.com/camille500">Github</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/camille-sebastien-niessen">Linkedin</a></li>
    </ul>
  </nav>

  </body>

</html>
