* {
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

form {
  margin: 2em auto 0 auto;
  max-width: 20em;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ecf0f1;
}

form a {
  color: #e67e22;
  font-size: .9em;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-top: .15em;
  text-decoration: none;
  text-align: right;
  margin-left: 2.2em;
}

label {
  margin-bottom: .5em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

input {
  font-size: 1.1em;
  padding: .75em .5em;
  margin-bottom: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

button[type="submit"] {
  font-size: 1em;
  padding: 1em;
  background-color: #e74c3c;
  color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

[for="field-stay-logged-in"] {
  font-size: .9em;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-left: .2em;
  margin-top: .15em;
}

[type="checkbox"] {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
