/* GENERIC
------------------------------------------------*/
* {
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/* CHAT
------------------------------------------------*/
ol.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 18em;
  padding: .5em 1em 2em 1em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
  list-style: none;
}

ol.chat > li > p {
  padding: 1em;
  margin: 1.5em 0 0;
  border-radius: .5em;
  background-color: white;
}

ol.chat footer > p {
  display: inline-block;
  margin: .5em 0 0 1em;
  font-size: .7em;
}

ol.chat > [data-status="READ"] {
  position: relative;
  left: 3.5em;
  color: #2ecc71;
}

ol.chat > [data-status="DELIVERED"] {
  position: relative;
  left: 2em;
  color: #e74c3c;
}

ol.chat > time {
  color: #34495e;
}

form.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 18em;
  padding: 1em;
  margin: 0em auto;
  background-color: #2980b9;
}

form.chat > [name="field-message"] {
  resize: none;
  width: 100%;
  padding: 1em 1em;
}

form.chat > [for="field-message"] {
  margin-bottom: .5em;
  color: white;
  font-size: .8em;
}

form.chat > textarea:focus {
  border: .4em #2ecc71 solid;
  outline: none;
}

form.chat button[type="submit"] {
  width: 100%;
  padding: .5em 0;
  margin-top: 1em;
  background-color: #e74c3c;
  color: white;
  font-size: 1em;
}

/* LOGIN
------------------------------------------------*/
form.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 20em;
  padding: 2em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

form.login a {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-top: .15em;
  margin-left: 2.2em;
  color: #e67e22;
  font-size: .9em;
  text-decoration: none;
  text-align: right;
}

form.login label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: .5em;
}

form.login input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: .75em .5em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

form.login > input:focus {
  border: .4em #2ecc71 solid;
  outline: none;
}

form.login button[type="submit"] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 1em;
  background-color: #e74c3c;
  color: white;
  font-size: 1em;
}

form.login [for="field-stay-logged-in"] {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-left: .2em;
  margin-top: .15em;
  font-size: .9em;
}

form.login [type="checkbox"] {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

/* MEDIA ITEM
------------------------------------------------*/
article.media-item {
  max-width: 40em;
  padding: 1em;
  padding-bottom: 1.5em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

article.media-item > h1 {
  padding: .5em;
  margin-top: 0;
  background-color: #2980b9;
  font-size: 1.3em;
}

article.media-item h1 > a {
  color: white;
  text-decoration: none;
}

article.media-item > p {
  max-width: 100%;
  text-align: start;
}

article.media-item > img {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-right: 1em;
  float: left;
}

/* MEDIA ITEM SUBTITLE
------------------------------------------------*/
article.media-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 35em;
  padding: 1.5em .75em;
  margin: 0 auto 0 auto;
  background-color: #ecf0f1;
}

article.media-subtitle > h1 {
  margin: 0;
  margin-left: 1.5em;
  color: #e74c3c;
}

article.media-subtitle figure a > img,
article.media-subtitle figure > p {
  max-width: 100%;
}

article.media-subtitle footer > time {
  color: #2c3e50;
}

article.media-subtitle footer > a {
  float: right;
  color: #2980b9;
}

.hidden {
  visibility: hidden;
}

article.media-subtitle figure > div:target {
  visibility: visible;
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
}

article.media-subtitle figure div#big-image > img {
  position: absolute;
  top: 4vh;
  left: 20vw;
  max-width: 55%;
}

article.media-subtitle figure div#big-image a > p {
  position: absolute;
  top: 2%;
  left: 77%;
  color: white;
}

@media screen and (max-width: 56em) {
  article.media-subtitle figure div#big-image > img {
  max-width: 65%;
  }
  article.media-subtitle figure div#big-image a > p {
    top: 2%;
    left: 88%;
  }
}

@media screen and (max-width: 44em) {
  article.media-subtitle figure div#big-image > img {
  left: 7vw;
  max-width: 80%;
  }
  article.media-subtitle figure div#big-image a > p {
    top: 40%;
    left: 35%;
  }
}

.hint {
  text-align: center;
  color: #e74c3c;
  font-size: 1.4em;
}

.hint-text {
  color: white;
  text-align: center;
}

.hint-text a {
  color: white;
  font-weight: 800;
}

/* NAVIGATION
------------------------------------------------*/
nav.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .15em 1em;
  background-color: #ecf0f1;
}

nav.navigation > h1 {
  color: #2c3e50;
  margin-top: 1.35em;
  font-size: 1.3em;
}

nav.navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*flex-wrap: wrap;*/
  list-style: none;
}

nav.navigation ul li > a {
  display: block;
  padding: .8em 1.65em;
  margin-right: 1em;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
}

nav.navigation ul li > ul {
  position: absolute;
  display: none;
  padding: 0;
  list-style: none;
}

nav.navigation ul li ul li > a {
  max-width: 100%;
  padding-right: 1em;
  background-color: #219ef2;
  color: white;
}

nav.navigation ul li > [aria-label="Home, current page"] {
  background-color: #e74c3c;
  color: white;
}

nav.navigation ul li > a:hover,
nav.navigation ul li ul li > a:hover {
  background-color: #2980b9;
}

nav.navigation ul li.dropdown:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 41.75em) {
  nav.navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.navigation > ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  nav.navigation ul li > ul {
    position: static;
  }
}

/* RATING
------------------------------------------------*/
legend {
  width: 23.15em;
  padding: .75em;
  margin: 0 auto;
  background-color: #2980b9;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

div.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 35em;
  padding: 1em;
  margin: 0 auto;
  background-color: #ecf0f1;
}

div.rating > label {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  padding-top: .5em;
  font-weight: 500;
  text-align: center;
}

div.rating label > svg {
  -webkit-transition: .5s;
  transition: .5s;
  min-width: 5em;
  margin-top: 1em;
}

div.rating label > svg:hover {
  -webkit-transition: .5s;
  transition: .5s;
  min-width: 6em;
  cursor: pointer;
}

div.rating label:hover {
  font-weight: 800;
}

div.rating > [type="radio"] {
  display: none;
}

@media only screen and (max-width: 37em) {
  legend {
    width: auto;
    padding: 0;
    margin-bottom: 1em;
    background-color: transparent;
    color: white;
    text-align: left;
  }
}
/* STEP INDICATOR
------------------------------------------------*/
nav.step-indicator {
  max-width: 35em;
  padding: 1em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

nav.step-indicator > h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}

nav.step-indicator > progress {
  width: 100%;
  height: 2em;
  border: 0;
  background-color: #fff;
}

nav.step-indicator > progress::-webkit-progress-bar {
  background-color: #bdc3c7;
}
nav.step-indicator > progress::-webkit-progress-value {
  background-color: #3498db;
}

nav.step-indicator > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 2em;
  list-style-type: none;
}

nav.step-indicator ol > li {
  width: 20%;
  padding: 1em .2em;
  background-color: white;
  text-align: center;
}

nav.step-indicator ol li > a {
  color: #27ae60;
  text-decoration: none;
}

[aria-label="Address, current step"] {
  color: #27ae60;
  font-weight: 800;
}

/* SECTIONS */
.hidden {
  display: none;
}

section {
  height: 85vh;
  padding-top: 3em;
  background-color: #2c3e50;
}

section.intro {
  padding: 2em;
  color: white;
}

section#media-subtitle {
  padding-top: 1em;
}
