* {
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

article.media-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 35em;
  padding: 1.5em .75em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

article.media-subtitle > h1 {
  margin: 0;
  margin-left: 1.5em;
  color: #e74c3c;
}

article.media-subtitle figure a > img,
article.media-subtitle figure > p {
  max-width: 100%;
}

article.media-subtitle footer > time {
  color: #2c3e50;
}

article.media-subtitle footer > a {
  float: right;
  color: #2980b9;
}

.hidden {
  visibility: hidden;
}

article.media-subtitle figure > div:target {
  visibility: visible;
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
}

article.media-subtitle figure div#big-image > img {
  position: absolute;
  top: 4vh;
  left: 20vw;
  max-width: 55%;
}

article.media-subtitle figure div#big-image a > p {
  position: absolute;
  top: 2%;
  left: 77%;
  color: white;
}

@media screen and (max-width: 56em) {
  article.media-subtitle figure div#big-image > img {
  max-width: 65%;
  }
  article.media-subtitle figure div#big-image a > p {
    top: 2%;
    left: 88%;
  }
}

@media screen and (max-width: 44em) {
  article.media-subtitle figure div#big-image > img {
  left: 7vw;
  max-width: 80%;
  }
  article.media-subtitle figure div#big-image a > p {
    top: 40%;
    left: 35%;
  }
}

.hint {
  text-align: center;
  color: #e74c3c;
  font-size: 1.4em;
}
