* {
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

article.media-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 35em;
  padding: 1.5em .75em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

article.media-subtitle > h1 {
  margin: 0;
  margin-left: 1.5em;
  color: #e74c3c;
}

article.media-subtitle figure > img,
article.media-subtitle figure > p {
  max-width: 100%;
}

article.media-subtitle footer > time {
  color: #2c3e50;
}

article.media-subtitle footer > a {
  float: right;
  color: #2980b9;
}
