/* Week 3 - Website with all components
---------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

/* Navigation
---------------------------------------------------- */
header nav {
  display: flex;
}

header ul {
  display: flex;
  flex-direction: row;
}
