/* Sources
  - http://stackoverflow.com/questions/796087/make-a-div-into-a-link
  - https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* GENERIC
------------------------------------------------*/
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

button[type="submit"] {
  width: 100%;
  padding: .5em 0;
  margin-top: 1em;
  border: none;
  background-color: #e74c3c;
  color: white;
  font-size: 1em;
}

.hidden {
  visibility: hidden;
}

/* CHAT
------------------------------------------------*/
.chat ol {
  display: flex;
  flex-direction: column;
  max-width: 18em;
  padding: .5em 1em 2em 1em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
  list-style: none;
}

.chat li > p {
  width: 75%;
  padding: 1em;
  margin: 2em 0 0 0;
  border-radius: .5em;
  background-color: white;
}

.chat .your-message > p {
  background: #bdc3c7;
  margin-left: 2em;
}

.chat footer > p {
  display: inline-block;
  margin: .5em 0 0 .75em;
  font-size: .7em;
}

.your-message footer > p {
  display: inline-block;
  margin: .5em 0 0 3.5em;
  font-size: .7em;
}

.chat footer > [data-status="READ"] {
  position: relative;
  left: 1.8em;
  margin: 0;
  color: #2ecc71;
}

.chat footer > [data-status="DELIVERED"] {
  position: relative;
  left: .5em;
  margin: 0;
  color: #e74c3c;
}

.chat > time {
  color: #34495e;
}

.chat > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 18em;
  padding: 1em;
  margin: 0em auto;
  background-color: #2980b9;
}

.chat > textarea {
  resize: none;
  height: 4em;
  width: 100%;
  padding: 1em 1em;
  border: .3em solid #2980b9;
}

.chat > textarea:focus {
  border: .3em solid #2ecc71;
  outline: none;
  color: #2ecc71;
  box-shadow: inset 0 0 1em #cccccc;
}

.chat > label {
  margin-bottom: .5em;
  color: white;
  font-size: .8em;
}

/* LOGIN
------------------------------------------------*/
.login {
  display: flex;
  flex-wrap: wrap;
  max-width: 20em;
  padding: 2em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

.login a {
  flex-basis: 40%;
  margin-top: .15em;
  margin-left: 2.2em;
  color: #e67e22;
  font-size: .9em;
  text-decoration: none;
  text-align: right;
}

.login label {
  flex-basis: 100%;
  margin-bottom: .5em;
  margin-left: .15em;
}

.login input {
  flex-basis: 100%;
  padding: .75em .5em;
  margin-bottom: 1em;
  font-size: 1.1em;
  border: .2em solid #ecf0f1;
}

.login > input:focus {
  outline: none;
  color: #2ecc71;
  border: .2em solid #2ecc71;
}

.login button[type="submit"] {
  padding: 1em;
}

.login [for="field-stay-logged-in"] {
  flex-basis: 35%;
  margin-left: .2em;
  margin-top: .15em;
  font-size: .9em;
}

.login [type="checkbox"] {
  flex-basis: auto;
}

/* MEDIA ITEM
------------------------------------------------*/
.media-item {
  max-width: 40em;
  padding: 1em;
  padding-bottom: 1.5em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

.media-item > h1 {
  padding: .5em;
  padding-bottom: 1.65em;
  margin-top: 0;
  background-color: #2980b9;
  font-size: 1.3em;
}

.media-item h1 > a {
  position: absolute;
  display: block;
  width: 100%;
  height: 8.5em;
  color: white;
  text-decoration: none;
}

.media-item > p {
  max-width: 100%;
  text-align: start;
}

.media-item > img {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-right: 1em;
  float: left;
}

@media only screen and (max-width: 39.4em) {
  .media-item h1 > a {
    width: 90%;
    height: 8.5em;
  }
  .media-item > h1 {
    padding-bottom: 3em;
  }
}

/* MEDIA ITEM SUBTITLE
------------------------------------------------*/
.media-subtitle {
  display: flex;
  flex-direction: column;
  max-width: 35em;
  padding: 1.5em .75em;
  margin: 0 auto 0 auto;
  background-color: #ecf0f1;
}

.media-subtitle > h1 {
  margin: 0;
  margin-left: 1.5em;
  color: #e74c3c;
}

.media-subtitle figure img,
.media-subtitle figure > p {
  max-width: 100%;
}

.media-subtitle footer > time {
  color: #2c3e50;
}

.media-subtitle footer > a {
  float: right;
  color: #2980b9;
}

.media-subtitle div:target {
  visibility: visible;
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
}

.media-subtitle figure div#big-image a > p {
  position: absolute;
  top: 2%;
  left: 77%;
  width: 100%;
  height: 100%;
  color: white;
}

.hint {
  text-align: center;
  color: #e74c3c;
  font-size: 1.4em;
}

.hint-text {
  color: white;
  text-align: center;
}

.hint-text a {
  color: white;
  font-weight: 800;
}

/* NAVIGATION
------------------------------------------------*/
.navigation {
  display: flex;
  flex-direction: row;
  padding: .15em 1em;
  background-color: #ecf0f1;
}

.navigation > h1 {
  color: #2c3e50;
  margin-top: 1.35em;
  font-size: 1.3em;
}

.navigation > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navigation li > a {
  display: block;
  padding: .8em 1.65em;
  margin-right: 1em;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
}

nav.navigation li > ul {
  position: absolute;
  display: none;
  padding: 0;
  list-style: none;
  z-index: 1000;
}

nav.navigation li ul a {
  max-width: 100%;
  padding-right: 1em;
  background-color: #219ef2;
  color: white;
}

.navigation li > [aria-label="Home, current page"] {
  background-color: #e74c3c;
  color: white;
}

.navigation li > a:hover,
.navigation li ul > a:hover {
  background-color: #2980b9;
}

.dropdown:hover > ul {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 41.75em) {
  .navigation {
    flex-direction: column;
  }
  .navigation > ul {
    display: block;
    flex-direction: column;
    padding-left: 0;
  }
  .navigation li > ul {
    position: static;
  }
}

/* RATING
------------------------------------------------*/
legend {
  width: 23.15em;
  padding: .75em;
  margin: 0 auto;
  background-color: #2980b9;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 35em;
  padding: 1em;
  margin: 0 auto;
  background-color: #ecf0f1;
}

.rating > label {
  flex-basis: 10%;
  padding-top: .5em;
  font-weight: 500;
  text-align: center;
}

.rating svg {
  -webkit-transition: .5s;
  transition: .5s;
  min-width: 5em;
  margin-top: 1em;
}

.rating svg:hover {
  -webkit-transition: .5s;
  transition: .5s;
  min-width: 6em;
  cursor: pointer;
}

.rating label:hover {
  font-weight: 800;
}

.rating > [type="radio"] {
  display: none;
}

@media only screen and (max-width: 37em) {
  legend {
    width: auto;
    padding: 0;
    margin-bottom: 1em;
    background-color: transparent;
    color: white;
    text-align: left;
  }
}
/* STEP INDICATOR
------------------------------------------------*/
.step-indicator {
  max-width: 35em;
  padding: 1em;
  margin: 2em auto 0 auto;
  background-color: #ecf0f1;
}

.step-indicator > h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}

.step-indicator > progress {
  width: 100%;
  height: 2em;
  border: 0;
  background-color: #fff;
}

.step-indicator > progress::-webkit-progress-bar {
  background-color: #bdc3c7;
}
.step-indicator > progress::-webkit-progress-value {
  background-color: #3498db;
}

.step-indicator > ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 2em;
  list-style-type: none;
}

.step-indicator li {
  width: 20%;
  padding: 1em .2em;
  background-color: white;
  text-align: center;
}

nav.step-indicator li > a {
  color: #27ae60;
  text-decoration: none;
}

[aria-label="Address, current step"] {
  color: #27ae60;
  font-weight: 800;
}

/* SECTIONS */
.hidden {
  display: none;
}

section {
  height: 85vh;
  padding-top: 3em;
  background-color: #2c3e50;
}

section.intro {
  color: white;
  padding-left: 1em;
}

section#media-subtitle {
  padding-top: 1em;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
